[mysqld]
# 文字コード
character-set-server = utf8mb4
collation-server     = utf8mb4_0900_ai_ci

# タイムゾーン
default-time-zone    = 'Asia/Tokyo'

# 大文字・小文字の扱い (例: テーブル名を小文字に統一したいなら "1" にする)
# lower_case_table_names = 1

# 名前解決を行わない(高速化)
skip_name_resolve    = 1

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
